# TASK 1

Создайте соединение с базой данных с помощью библиотеки sqlite3.

In [1]:
import pandas as pd
import sqlite3 as sq

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
conn = sq.connect('/content/drive/MyDrive/Google_Drive/School21/Day11/checking-logs.sqlite')

Получите схему таблицы checker.

In [17]:
pd.io.sql.read_sql('PRAGMA table_info(checker);', conn)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

Получите только первые 10 строк таблицы checker, чтобы проверить, как она выглядит.

In [16]:
pd.read_sql('SELECT * FROM checker LIMIT 10', conn)

,index,status,success,timestamp,numTrials,labname,uid
0,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

Подсчитайте, сколько строк удовлетворяют следующим условиям, используя только один запрос с любым количеством подзапросов.
Подсчитайте количество строк из таблицы pageviews, но только с пользователями из таблицы checker, у которых:
status = 'ready' (мы не хотим анализировать логи со статусом checking);
numTrials = 1 (мы хотим проанализировать только первые коммиты, поскольку только они информируют о том, когда студент начал работать над лабораторным заданием);
названия лабораторных заданий должны быть только из следующего списка: laba04, laba04s, laba05, laba06, laba06s, project1. Только они были активными во время проведения эксперимента.

In [26]:
list = ['laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1']
list

['laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1']

In [60]:
checkers = pd.io.sql.read_sql("""SELECT count() as cnt
                          FROM pageviews 
                          WHERE pageviews.uid 
                          IN 
                            (SELECT
                              uid
                            FROM
                              checker
                            WHERE
                              uid like 'user%' AND status like 'ready' AND numTrials == 1 AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
                            ORDER BY
                              uid)""",
                            conn)

In [63]:
checkers

   cnt
0  984

Закройте соединение с базой данных.

In [64]:
conn.close()